@model List<Employee>

<h1>Employees</h1>

<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Status</th>
			<th>Manages</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach(Employee employee in Model)
			{
				<tr>
					<th>@employee.FirstName</th>
					<th>@employee.LastName</th>
					<th>@employee.Email</th>
					<th>@employee.Role</th>
					<th>@employee.Status</th>

					<th>
						<div>
							@{
								if (employee.ManagedEmployeesId != null)
								{
									foreach (string str in employee.ManagedEmployeesId)
									{
										<div>@str</div>
									}
								}
							}
						</div>
					</th>
				</tr>
			}
		}
	</tbody>
</table>
