@model NoSQLProject.Models.TicketRequest

@{
	ViewData["Title"] = "Edit Ticket Requests";
}

<partial name="_ErrorMessage" />

<h1>Ticket Request View</h1>

<div>
	<div>
		<label>Sender:</label>
		<input type="text" value="@(Model.Sender == null ? "???" : $"{Model.Sender.FullName} ({Model.Sender.Email})")" readonly/>
	</div>
	<div>
		<label>Recipient:</label>
		<input type="text" value="@(Model.Recipient == null ? "???" : $"{Model.Recipient.FullName} ({Model.Recipient.Email})")" readonly />
	</div>
	<div>
		<label>Ticket:</label>
		<div>
			<label>Title:</label>
			<input type="text" value="@Model.Ticket.Title" readonly />

			<label>Description:</label>
			<input type="text" value="@Model.Ticket.Description" readonly />

			<label>Status:</label>
			<input type="text" value="@Model.Ticket.Status" readonly />

			<label>Logs Number:</label>
			<input type="text" value="@Model.Ticket.Logs.Count" readonly />
		</div>
	</div>
</div>

<form action="/TicketRequests/Add" method="post">
	<input type="hidden" asp-for="TicketId" value="@Model.TicketId" />

	<div class="form-group mb-3">
		<label for="Email">Email</label>
		<input type="text" asp-for="Message" placeholder="Request recipient email" required value="@Model?.Message" />
	</div>

	<div class="form-group mb-3">
		<label for="Message">Message</label>
		<input type="text" asp-for="Message" placeholder="Message for recipient" value="@Model?.Message" />
	</div>

	<button type="submit">Edit</button>
	<a href="/TicketsServiceDesk/@TempData["ticket_request_return_to_page"]">Back</a>
</form>