@model NoSQLProject.Models.TicketRequest
<link rel="stylesheet" href="~/css/common-styles.css" />

@{
	ViewData["Title"] = "View Request";
}

<partial name="_ErrorMessage"/>

<h1>Request View</h1>

<div>
	<partial name="~/Views/TicketRequests/_MainViewPart.cshtml" model="@Model" />

	<div>
		<label>Status:</label>
		<input type="text" value="@Model.Status.ToString()" readonly />
		
		@{
			if (Model.Status == TicketRequestStatus.Open)
			{
				<label>Actions:</label>
				
				<form action="/TicketRequests/ViewAccept" method="post">
					<input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>

					<button type="submit">Accept Request</button>
				</form>

				<form action="/TicketRequests/ViewReject" method="post">
					<input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>

					<button type="submit">Reject Request</button>
				</form>
			}
			else if (Model.Status == TicketRequestStatus.Accepted)
			{
				<label>Actions:</label>
				<a href="/TicketsServiceDesk/Edit/@Model.Ticket.Id">Go to Ticket</a>

				<form action="/TicketRequests/ViewFail" method="post">
					<input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

					<button type="submit">Fail Request</button>
				</form>
			}
		}
	</div>
</div>	


<a href="/TicketRequests/Received">Go Back</a>
