@model NoSQLProject.Models.TicketRequest

@{
	ViewData["Title"] = "Edit Ticket Requests";
}

<partial name="_ErrorMessage" />

<h1>Ticket Request View</h1>

<div>
	<div>
		<label>Sender:</label>
		<input type="text" value="@(Model.Sender == null ? "???" : $"{Model.Sender.FullName} ({Model.Sender.Email})")" readonly/>
	</div>
	<div>
		<label>Recipient:</label>
		<input type="text" value="@(Model.Recipient == null ? "???" : $"{Model.Recipient.FullName} ({Model.Recipient.Email})")" readonly />
	</div>
	<div>
		<label>Ticket:</label>
		<div>
			<label>Title:</label>
			<input type="text" value="@Model.Ticket.Title" readonly />

			<label>Description:</label>
			<input type="text" value="@Model.Ticket.Description" readonly />

			<label>Status:</label>
			<input type="text" value="@Model.Ticket.Status" readonly />

			<label>Logs Number:</label>
			<input type="text" value="@Model.Ticket.Logs.Count" readonly />

			<a href="/TicketsServiceDesk/Edit/@Model.Ticket.Id">Go to Ticket</a>
		</div>
	</div>
	<div>
		<label>Message:</label>
		<input type="text" value="@Model.Message" readonly />
	</div>
	<div>
		<label>Sent At:</label>
		<input type="text" value="@Model.CreatedAt" readonly />
	</div>
	<div>
		<label>Last Update:</label>
		<input type="text" value="@Model.UpdatedAt" readonly />
	</div>
	<div>
		<label>Status:</label>
		<input type="text" value="@Model.Status.ToString()" readonly />
		
		@{
			if ((string)ViewData["ticket_request_is_viewer_type"] == "recipient")
			{
				if (Model.Status == TicketRequestStatus.Open)
				{
					<label>Actions:</label>
					<form action="/TicketRequests/ViewAccept/@Model.Id" method="post"><button type="submit">Accept Request</button></form>
					<form action="/TicketRequests/ViewReject/@Model.Id" method="post"><button type="submit">Reject Request</button></form>
				}
				else if (Model.Status == TicketRequestStatus.Accepted)
				{
					<label>Actions:</label>
					<a href="/TicketsServiceDesk/Edit/@Model.Ticket.Id">Go to Ticket</a>
					<form action="/TicketRequests/ViewFail/@Model.Id" method="post"><button type="submit">Fail Request</button></form>
				}
			}
		}
	</div>
</div>	

@{
	if ((string)ViewData["ticket_request_is_viewer_type"] == "recipient")
	{
		<a href="/TicketRequests/Received">Go Back</a>
	}
	else
	{
		<a href="/TicketRequests/All">Go Back</a>
	}
}

