@model LogViewModel

@{
	ViewData["Title"] = "Add New Log";
}

<partial name="_ErrorMessage" />

<h1>New Log:</h1>

<form action="/TicketsServiceDesk/AddLog" method="post">
    <input type="hidden" asp-for="@Model.Ticket.Id" value="@Model.Ticket.Id"/>
    <input type="hidden" asp-for="@Model.Ticket.Status" value="@Model.Ticket.Status" />

    <div class="form-group py-2 text-start">
        <label for="Description">Description:</label>
        <input type="text" class="form-control input-background" asp-for="@Model.Log.Description" required value="@Model.Log.Description" />
    </div>

    <div class="form-group py-2 text-start">
        <label for="NewStatus">Status Change:</label>
        <select id="NewStatus" asp-for="@Model.Log.NewStatus" asp-items="@Html.GetEnumSelectList<Ticket_Status>()" required></select>
    </div>

    <button type="submit" class="primary-button">Add</button>
</form>

<a href="/TicketsServiceDesk/Edit/@Model.Ticket.Id">Go Back To The Ticket</a>
