@model NoSQLProject.Models.Ticket

@{
    ViewData["Title"] = "Delete Ticket";
}

<partial name="_ErrorMessage" />

<h1>Ticket:</h1>

<div class="form-group py-2 text-start">
    <label>Creator:</label>
    <input type="text" class="form-control input-background" readonly value="@ViewData["ticket_creator"]" />
</div>

<div class="form-group py-2 text-start">
    <label>Created At:</label>
    <input type="text" class="form-control input-background" readonly value="@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")" />
</div>

<div class="form-group py-2 text-start">
    <label>Last Update:</label>
    <input type="text" class="form-control input-background" readonly value="@Model.UpdatedAt.ToString("dd.MM.yyyy HH:mm:ss")" />
</div>

<div class="form-group py-2 text-start">
    <label for="Title">Title:</label>
    <input type="text" class="form-control input-background" readonly value="@Model?.Title" />
</div>

<div class="form-group py-2 text-start">
    <label for="Description">Description:</label>
    <input type="text" class="form-control input-background" readonly value="@Model?.Description" />
</div>

<div class="form-group py-2 text-start">
    <label>Logs:</label>
    @{
        if (Model?.Logs.Count == 0)
        {
            <div>No logs</div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Created By</th>
                        <th>Creation Time</th>
                        <th>New Status</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(Log log in Model.Logs)
                        {
                            <tr>
                                <th>@(log.Creator == null ? "???" : log.Creator.FullName)</th>
                                <th>@log.CreatedAt</th>
                                <th>@log.NewStatus</th>

                                @if (string.IsNullOrEmpty(log.Description)) // If deescription is empty
                                {
                                    <th>-</th>
                                }
                                else
                                {
                                    if (log.Description.Length > 100) // If it is too long, cut it
                                    {
                                        <th>@(log.Description.Substring(0, 100))...</th>
                                    }
                                    else // If it is short enough, put it ass it is
                                    {
                                        <th>@(log.Description.Substring(0, log.Description.Length))</th>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>

<form action="/TicketsServiceDesk/Delete" method="post">
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

    <label>Are you sure you want to <b>delete</b> this ticket?</label>
    <a href="/TicketsServiceDesk/Index">Cancel</a>
    <button type="submit" class="btn-danger">Delete</button>
</form>