@model NoSQLProject.Models.SDETicketEditViewModel

@{
    ViewData["Title"] = "Edit Ticket";

    Console.WriteLine(Model.Ticket.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss"));
}

<partial name="_ErrorMessage" />

<h1>Ticket:</h1>

<div class="form-group py-2 text-start">
    <label>Creator:</label>
    <input type="text" class="form-control input-background" readonly value="@ViewData["creator"]" />
</div>

<div class="form-group py-2 text-start">
    <label>Created At:</label>
    <input type="text" class="form-control input-background" readonly value="@Model.Ticket.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")" />
</div>

<div class="form-group py-2 text-start">
    <label>Last Update:</label>
    <input type="text" class="form-control input-background" readonly value="@Model.Ticket.UpdatedAt.ToString("dd.MM.yyyy HH:mm:ss")" />
</div>

<form action="/TicketsServiceDesk/Edit" method="post">
    <input type="hidden" asp-for="Ticket.Id" value="@Model.Ticket.Id" />

    <div class="form-group py-2 text-start">
        <label for="Title">Title:</label>
        <input type="text" class="form-control input-background" asp-for="Ticket.Title" required value="@Model?.Ticket.Title" />
    </div>

    <div class="form-group py-2 text-start">
        <label for="Description">Description:</label>
        <input type="text" class="form-control input-background" asp-for="Ticket.Description" required value="@Model?.Ticket.Description" />
    </div>

    <div class="form-group py-2 text-start">
        <label for="Description">Status:</label>
        <select class="form-control input-background" asp-for="Ticket.Status" asp-items="@Html.GetEnumSelectList<Ticket_Status>()"></select>
    </div>    

    <button type="submit" class="primary-button">Edit</button>
</form>


<div class="form-group py-2 text-start">
    <label>Logs:</label>
    @{
        if (Model?.Ticket.Logs.Count == 0)
        {
            <div>No logs yet</div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Created By</th>
                        <th>Creation Time</th>
                        <th>New Status</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < Model.Ticket.Logs.Count; i++)
                        {                            
                            var log = Model.Ticket.Logs[i];
                            
                            <tr>
                                <th>@(Model.LogEmployees[i] == null ? "???" : Model.LogEmployees[i].FullName)</th>
                                <th>@log.CreatedAt</th>
                                <th>@log.NewStatus</th>

                                @if (string.IsNullOrEmpty(log.Description)) // If deescription is empty
                                {
                                    <th>-</th>
                                }
                                else
                                {
                                    if (log.Description.Length > 100) // If it is too long, cut it
                                    {
                                        <th>@(log.Description.Substring(0, 100))...</th>
                                    }
                                    else // If it is short enough, put it ass it is
                                    {
                                        <th>@(log.Description.Substring(0, log.Description.Length))</th>
                                    }
                                }

                                <th>
                                    <a href="/TicketsServiceDesk/EditLog/@(Model.Ticket.Id)/@(log.Id)">View</a>
                                    <a class="text-danger" href="/TicketsServiceDesk/DeleteLog/@(Model.Ticket.Id)/@(log.Id)">Delete</a>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }  
    <a href="/TicketsServiceDesk/AddLog/@Model.Ticket.Id">Add New Log</a>
</div>

<a href="/TicketsServiceDesk/Index">Back to Ticket List</a>

@* <input type="hidden" id="CreatedById" name="CreatedById" value="@Model?.CreatedById" />
    <input type="hidden" id="UpdatedAt" name="UpdatedAt" value="@Model?.UpdatedAt" />
    <input type="hidden" id="CreatedAt" name="CreatedAt" value="@Model?.CreatedAt" />
    <input type="hidden" id="Logs" name="Logs" value="@Model?.Logs" /> *@
