@model NoSQLProject.Models.SDETickestsListViewModel

@{
	ViewData["Title"] = "Tickets";
}

<partial name="_ErrorMessage" />

<h1>Tickets:</h1>
<a href="/TicketsServiceDesk/Add">Add new Ticket</a>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Created At</th>
			<th>Last Update</th>
			<th>Created By</th>
			<th>logs</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			for (int i = 0; i < Model.Tickets.Count; i++)
			{
				<tr>
					<th>@Model.Tickets[i].Title</th>
					<th>@Model.Tickets[i].Status</th>
					<th>@Model.Tickets[i].CreatedAt</th>
					<th>@Model.Tickets[i].UpdatedAt</th>
					<th>@(Model.Employees[i] == null ? "???" : Model.Employees[i].FullName)</th>
					<th>@Model.Tickets[i].Logs.Count</th>
					<th><a href="/TicketsServiceDesk/Edit/@Model.Tickets[i].Id">View</a></th>
				</tr>
			}
		}
	</tbody>
</table>
