@model NoSQLProject.ViewModels.EmployeeTickets

@{
	ViewData["Title"] = "Tickets";
}

<partial name="_ErrorMessage"/>

<h1>Tickets:</h1>
<a href="/TicketsEmployee/Add">Add new Ticket</a>

<table class="table">
	<thead>
	<tr>
		<th>Title</th>
		<th>Status</th>
		<th>Created At</th>
		<th>Last Update</th>
		<th>Created By</th>
		<th>Log numbers</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@{
		foreach (var ticket in Model.Tickets)
		{
			<tr>
				<th>@ticket.Title</th>
				<th>@ticket.Status</th>
				<th>@ticket.CreatedAt</th>
				<th>@ticket.UpdatedAt</th>
				<th>@Model.Employee.FirstName @Model.Employee.LastName</th>
				<th>@ticket.Logs.Count - <a href="/TicketsEmployee/Logs/@ticket.Id">View</a></th>
				<th>
					<a href="/TicketsEmployee/Edit/@ticket.Id">Edit</a>
					<a href="/TicketsEmployee/Delete/@ticket.Id">Delete</a>
				</th>
			</tr>
		}
	}
	</tbody>
</table>
